<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Staff Form</title>
    <style>
        @import url('http://fonts.googleapis.com/css?family=Lato:400,700');
        @import url('https://fonts.googleapis.com/css?family=Acme');
        @import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;500&display=swap');
    </style>
    <link rel="stylesheet" href="/css/basic.css">
    <link rel="stylesheet" href="/css/add_staff.css">
    
</head>

<body>
    <div id="header">
        <div id="logo"></div>
        <h1 id ="website-name">Website</h3>
        <h1 id="customer-name">Hello Mr. Name</h1>
        <img class="smiley" src="/images/smiley.png" style=" left: 30%"  alt="mi">
    </div>

    <div id="main">
        <div class="button-home grp1 home"><span class = "span-button-home"><img src="/images/home_icon.png" alt="hi" style="height: 2.5vh; width: 1.5vw; margin-left: 0.4vw; margin-right: 4px; display: inline-block;"><a>Home</a></span></div>
        <div class="buttons grp1"><span class = "span-button-one"><a>About</a></span></div>
        <div class="buttons grp2"><span class = "span-button-one"><a>Profile</a></span></div>
        <div class="buttons grp2"><span class = "span-button-one"><a>Logout</a></span></div>
        <hr id = "first-break">
        <div id="heading">
            <span id="span-p2-one"><span>Restaurent's Name</span> / <small>Add Staff</small></span>
        </div>
        <h1 id="heading2">Add New Staff</h1>
        <div id = "add_item">
            <form>
                <img src="/images/staff.PNG" style="height: 15vh;" alt="form_image">
                <input type="text" placeholder="Name" name="Staff_name" id="name" required autofocus>
                <br>
                <input type="email" placeholder="Email" name="email" id="email" required>
                <br>
                <input type="password" placeholder="Password" name="password" id="password" required>
                <br>
                <a href="#">
                    <div id="add_button">
                        <span id="span_add">ADD</span>
                    </div>
                </a>
            </form>
        </div>
    </div>

    <div id="footer">
        <p id = "first-para"><span id="span-one">Website Name</span></p>
        <p id = "second-para">About</p>
        <hr id = "second-break">
        <p id="third-para"><span>Copyright &copy; website name. All rights reserved</span></p>
    </div>
</body>
</html>