<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('http://fonts.googleapis.com/css?family=Lato:400,700');
        @import url('https://fonts.googleapis.com/css?family=Acme');
    </style>
    <link rel="stylesheet" href="/css/Success.css">
    <title>Document</title>
</head>
   
<body>
    <div id="bgi"></div>
    <div class="container">
        <h2>Congrats!!</h2>
        <h1>Your restaurant has been successfully added  <span >:)</span></h1>
        <form action="/login" method="get"><button id="btn">Go to login page</button></form>
    </div>
    
    
</body>
</html>