<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Food Item Form</title>
    <style>
        @import url('http://fonts.googleapis.com/css?family=Lato:400,700');
        @import url('https://fonts.googleapis.com/css?family=Acme');
        @import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;500&display=swap');
    </style>
    <link rel="stylesheet" href="/css/basic.css">
    <link rel="stylesheet" href="/css/edit_food.css">
    
</head>

<body>
    <div id="header">
        <div id="logo"></div>
        <h1 id ="website-name">Website</h3>
        <h1 id="customer-name">Hello Mr. Name</h1>
        <img class="smiley" src="/images/smiley.png" alt="mi" style=" left: 30%">
    </div>

    <div id="main">
        <div class="button-home grp1 home"><span class = "span-button-home"><img src="/images/home_icon.png" alt="hi" style="height: 2.5vh; width: 1.5vw; margin-left: 0.4vw; margin-right: 4px; display: inline-block;"><a>Home</a></span></div>
        <div class="buttons grp1"><span class = "span-button-one"><a>About</a></span></div>
        <div class="buttons grp2"><span class = "span-button-one"><a>Profile</a></span></div>
        <div class="buttons grp2"><span class = "span-button-one"><a>Logout</a></span></div>
        <hr id = "first-break">
        <div id="heading">
            <span id="span-p2-one"><span>Restaurent's Name</span> / <small>Edit Food</small></span>
        </div>
        <h1 id="heading2">Edit Food</h1>
        <div id = "add_item">
            <form>
                <img src="/images/form_image.PNG" alt="form_image">
                <input type="text" placeholder="Name of Food" name="food_name" id="name" required autofocus>
                <br>
                <input type="text" placeholder="Price" name="price" id="price" required>
                <br>
                <input type="text" placeholder="Time" name="time" id="time" required>
                <br>
                <input type="text" placeholder="Ingredients" name="ingredients" id="ingredients" required>
                <br>
                <input type="text" placeholder="Method" name="method" id="method" required>
                <br>
                <input type="text" placeholder="Tags" name="tags" id="tags" required>
                <br>
                <input type="text" placeholder="Image-Location" name="image-location" id="img-src" required>
                <a href="#">
                    <div id="edit_button">
                        <span id="span_add">EDIT</span>
                    </div>
                </a>
            </form>
        </div>
    </div>

    <div id="footer">
        <p id = "first-para"><span id="span-one">Website Name</span></p>
        <p id = "second-para">About</p>
        <hr id = "second-break">
        <p id="third-para"><span>Copyright &copy; website name. All rights reserved</span></p>
    </div>
    <script src="/js/add_food_item_form.js"></script>
</body>
</html>