<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/front_page.css">
    <link href="https://fonts.googleapis.com/css2?family=Livvic&display=swap" rel="stylesheet" type="text/css">
    <title>Home Page</title>
</head>
<body>
    <div class="bg"></div>
    <header>
        <nav>
            <form action="/login" method="get">
            <button id="login">Log In</button></form>
            <form action="/signup" method="get">
            <button id="signup">Sign Up</button></form>
        </nav>
    </header>   
    <div id="welcome">Welcome to</div>
    <div class="highlight">
    <div id="web_name">Website Name</div>
    <div id="icon"><img  width="116px" src="/images/frontpageIcon.PNG" alt="icon" ></div>
    </div>
</body>
</html>