<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Orders</title>
    <style>
      @import url('http://fonts.googleapis.com/css?family=Lato:400,700');
      @import url('https://fonts.googleapis.com/css?family=Acme'); @import
      url('https://fonts.googleapis.com/css2?family=Laila:wght@300;500&display=swap');
    </style>
    <link rel="stylesheet" href="/css/basic.css" />
    <link rel="stylesheet" href="/css/orders.css" />

  </head>

  <body>
    <div id="header">
      <div id="logo"></div>
      <h1 id="website-name">Website</h1>
      <h1 id="customer-name">Hello Mr. Name</h1>
      <img
        class="smiley"
        src="/images/smiley.png"
        style=" left: 30%"
        alt="mi"
      />
    </div>

    <div id="main">
      <div class="button-home grp1 home"><span class="span-button-home"><img
            src="/images/home_icon.png"
            alt="hi"
            style="height: 2.5vh; width: 1.5vw; margin-left: 0.4vw; margin-right: 4px; display: inline-block;"
          /><a>Home</a></span></div>
      <div class="buttons grp1"><span class="span-button-one"><a
          >About</a></span></div>
      <div class="buttons grp2"><span class="span-button-one"><a
          >Profile</a></span></div>
      <div class="buttons grp2"><span class="span-button-one"><a
          >Logout</a></span></div>
      <hr id="first-break" />
      <div id="head">
        <span id="span-p2-one"><span>Restaurent's Name</span>
          /
          <small>Orders</small></span>
      </div>
      <div class="contain">
        <div class="orders">
          <div class="order-head">
            <span class="heading name">Name</span>
            <span class="heading name">Item</span>
            <span class="heading odrs">C Odrs</span>
            <span class="heading odrs">T Odrs</span>
            <span class="heading status">Status</span>
            <span class="heading status">Clock</span>
          </div>
          <div class="order-list">
            <div class="order-content">
              <span class="odr-row name">Manish Kumar</span>
              <span class="odr-row name">Paneer Chilli</span>
              <span class="odr-row odrs">3</span>
              <span class="odr-row odrs">--</span>
              <button class="status-button done">DONE</button>
              <span class="odr-row clock">08 : 05</span>
            </div>
            <div class="order-content">
              <span class="odr-row name">Danish Jain</span>
              <span class="odr-row name">Biryani</span>
              <span class="odr-row odrs">1</span>
              <span class="odr-row odrs">--</span>
              <button class="status-button done">DONE</button>
              <span class="odr-row clock">07 : 41</span>
            </div>
            <div class="order-content">
              <span class="odr-row name">Name</span>
              <span class="odr-row name">item</span>
              <span class="odr-row odrs">C Odrs</span>
              <span class="odr-row odrs">T Odrs</span>
              <button class="status-button in-process">IN PROCESS</button>
              <span class="odr-row clock">Clock</span>
            </div>
            <div class="order-content">
              <span class="odr-row name">Name</span>
              <span class="odr-row name">item</span>
              <span class="odr-row odrs">C Odrs</span>
              <span class="odr-row odrs">T Odrs</span>
              <button class="status-button in-process">IN PROCESS</button>
              <span class="odr-row clock">Clock</span>
            </div>
            <div class="order-content">
              <span class="odr-row name">Name</span>
              <span class="odr-row name">item</span>
              <span class="odr-row odrs">C Odrs</span>
              <span class="odr-row odrs">T Odrs</span>
              <button class="status-button in-process">IN PROCESS</button>
              <span class="odr-row clock">Clock</span>
            </div>
            <div class="order-content">
              <span class="odr-row name">Name</span>
              <span class="odr-row name">item</span>
              <span class="odr-row odrs">C Odrs</span>
              <span class="odr-row odrs">T Odrs</span>
              <button class="status-button in-process">IN PROCESS</button>
              <span class="odr-row clock">Clock</span>
            </div>
            <div class="order-content">
              <span class="odr-row name">Name</span>
              <span class="odr-row name">item</span>
              <span class="odr-row odrs">C Odrs</span>
              <span class="odr-row odrs">T Odrs</span>
              <button class="status-button start">START</button>
              <span class="odr-row clock">Clock</span>
            </div>
            <div class="order-content">
              <span class="odr-row name">Name</span>
              <span class="odr-row name">item</span>
              <span class="odr-row odrs">C Odrs</span>
              <span class="odr-row odrs">T Odrs</span>
              <button class="status-button start">START</button>
              <span class="odr-row clock">Clock</span>
            </div>
            <div class="order-content">
              <span class="odr-row name">Name</span>
              <span class="odr-row name">item</span>
              <span class="odr-row odrs">C Odrs</span>
              <span class="odr-row odrs">T Odrs</span>
              <button class="status-button start">START</button>
              <span class="odr-row clock">Clock</span>
            </div>
            <div class="order-content">
              <span class="odr-row name">Name</span>
              <span class="odr-row name">item</span>
              <span class="odr-row odrs">C Odrs</span>
              <span class="odr-row odrs">T Odrs</span>
              <button class="status-button start">START</button>
              <span class="odr-row clock">Clock</span>
            </div>
            <div class="order-content">
              <span class="odr-row name">Name</span>
              <span class="odr-row name">item</span>
              <span class="odr-row odrs">C Odrs</span>
              <span class="odr-row odrs">T Odrs</span>
              <button class="status-button start">START</button>
              <span class="odr-row clock">Clock</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="footer">
      <p id="first-para"><span id="span-one">Website Name</span></p>
      <p id="second-para">About</p>
      <hr id="second-break" />
      <p id="third-para"><span>Copyright &copy; website name. All rights
          reserved</span></p>
    </div>
  </body>
</html>