<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('http://fonts.googleapis.com/css?family=Lato:400,700');
        @import url('https://fonts.googleapis.com/css?family=Acme');
    </style>
    <link rel="stylesheet" href="/css/pwError.css">
    <title>Document</title>
</head>
   
<body>
    <div id="bgi"></div>
    <div class="container">
        <h2>Oh ho<span >:(</span></h2>
        <h1>Looks like you made a typo while confirming your password</h1>
        <h1>No problem let's try again  <span >:)</span></h1>
        <form action="/signup" method="get"><button id="btn">Click here to signup again</button></form>
    </div>
    
    
</body>
</html>