<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Staff Form</title>
    <style>
      @import url("http://fonts.googleapis.com/css?family=Lato:400,700");
      @import url("https://fonts.googleapis.com/css?family=Acme"); @import
      url("https://fonts.googleapis.com/css2?family=Laila:wght@300;500&display=swap");
    </style>
    <link rel="stylesheet" href="/css/basic.css" />
    <link rel="stylesheet" href="/css/Restraunt.css" />
  </head>

  <body>
    <div id="header">
      <div id="logo"></div>
      <h1 id="website-name">Website</h1>
      <h1 id="customer-name">Hello Mr. Name</h1>
      <img class="smiley" src="/images/smiley.png" style="left: 30%" alt="mi" />
    </div>

    <div id="main">
      <div class="button-home grp1 home">
        <span class="span-button-home"><img
            src="/images/home_icon.png"
            alt="hi"
            style="
              height: 2.5vh;
              width: 1.5vw;
              margin-left: 0.4vw;
              margin-right: 4px;
              display: inline-block;
            "
          /><a>Home</a></span>
      </div>

      <div class="buttons grp1">
        <span class="span-button-one"><a>About</a></span>
      </div>

      <div class="buttons grp2">
        <span class="span-button-one"><a>Profile</a></span>
      </div>

      <div class="buttons grp2">
        <span class="span-button-one"><a>Logout</a></span>
      </div>

      <hr id="first-break" />

      <div class="MainContent">
        <div id="RestrauntList">
          <div class="RestrauntListEntry">
            <h1 class="RestrauntName">Restraunt 1</h1>
            <hr
              style="
                width: 80%;
                margin-left: auto;
                border-color: #fe3f23;
                border-style: solid;
              "
            />
            <div class="RestrauntListEntries">
              <div class="RestrauntItem">
                <div class="RestrauntItemHeading">Item 1</div>
                <div class="RestrauntItemImage"></div>
                <div class="RestrauntItemMenu">
                  <div class="MenuComponents Price">30/-</div>
                  <div class="MenuComponents Time">3:00</div>
                  <img src="/images/Minus.png" class="MenuComponents Minus" />
                  <div class="MenuComponents Quantity">00</div>
                  <img src="/images/Plus.png" class="MenuComponents Plus" />
                  <div class="MenuComponents Add">Add+</div>
                </div>
              </div>
              <div class="RestrauntItem">
                <div class="RestrauntItemHeading">Item 2</div>
                <div class="RestrauntItemImage"></div>
                <div class="RestrauntItemMenu">
                  <div class="MenuComponents Price">30/-</div>
                  <div class="MenuComponents Time">3:00</div>
                  <img src="/images/Minus.png" class="MenuComponents Minus" />
                  <div class="MenuComponents Quantity">00</div>
                  <img src="/images/Plus.png" class="MenuComponents Plus" />
                  <div class="MenuComponents Add">Add+</div>
                </div>
              </div>
              <div class="RestrauntItem">
                <div class="RestrauntItemHeading">Item 3</div>
                <div class="RestrauntItemImage"></div>
                <div class="RestrauntItemMenu">
                  <div class="MenuComponents Price">30/-</div>
                  <div class="MenuComponents Time">3:00</div>
                  <img src="/images/Minus.png" class="MenuComponents Minus" />
                  <div class="MenuComponents Quantity">00</div>
                  <img src="/images/Plus.png" class="MenuComponents Plus" />
                  <div class="MenuComponents Add">Add+</div>
                </div>
              </div>
              <div class="RestrauntItem">
                <div class="RestrauntItemHeading">Item 4</div>
                <div class="RestrauntItemImage"></div>
                <div class="RestrauntItemMenu">
                  <div class="MenuComponents Price">30/-</div>
                  <div class="MenuComponents Time">3:00</div>
                  <img src="/images/Minus.png" class="MenuComponents Minus" />
                  <div class="MenuComponents Quantity">00</div>
                  <img src="/images/Plus.png" class="MenuComponents Plus" />
                  <div class="MenuComponents Add">Add+</div>
                </div>
              </div>
            </div>
          </div>
          <div class="RestrauntListEntry">
            <h1 class="RestrauntName">Restraunt 2</h1>
            <hr
              style="
                width: 80%;
                margin-left: auto;
                border-color: #fe3f23;
                border-style: solid;
              "
            />
            <div class="RestrauntListEntries">
              <div class="RestrauntItem">
                <div class="RestrauntItemHeading">Item 1</div>
                <div class="RestrauntItemImage"></div>
                <div class="RestrauntItemMenu">
                  <div class="MenuComponents Price">30/-</div>
                  <div class="MenuComponents Time">3:00</div>
                  <img src="/images/Minus.png" class="MenuComponents Minus" />
                  <div class="MenuComponents Quantity">00</div>
                  <img src="/images/Plus.png" class="MenuComponents Plus" />
                  <div class="MenuComponents Add">Add+</div>
                </div>
              </div>
              <div class="RestrauntItem">
                <div class="RestrauntItemHeading">Item 2</div>
                <div class="RestrauntItemImage"></div>
                <div class="RestrauntItemMenu">
                  <div class="MenuComponents Price">30/-</div>
                  <div class="MenuComponents Time">3:00</div>
                  <img src="/images/Minus.png" class="MenuComponents Minus" />
                  <div class="MenuComponents Quantity">00</div>
                  <img src="/images/Plus.png" class="MenuComponents Plus" />
                  <div class="MenuComponents Add">Add+</div>
                </div>
              </div>
              <div class="RestrauntItem">
                <div class="RestrauntItemHeading">Item 3</div>
                <div class="RestrauntItemImage"></div>
                <div class="RestrauntItemMenu">
                  <div class="MenuComponents Price">30/-</div>
                  <div class="MenuComponents Time">3:00</div>
                  <img src="/images/Minus.png" class="MenuComponents Minus" />
                  <div class="MenuComponents Quantity">00</div>
                  <img src="/images/Plus.png" class="MenuComponents Plus" />
                  <div class="MenuComponents Add">Add+</div>
                </div>
              </div>
              <div class="RestrauntItem">
                <div class="RestrauntItemHeading">Item 4</div>
                <div class="RestrauntItemImage"></div>
                <div class="RestrauntItemMenu">
                  <div class="MenuComponents Price">30/-</div>
                  <div class="MenuComponents Time">3:00</div>
                  <img src="/images/Minus.png" class="MenuComponents Minus" />
                  <div class="MenuComponents Quantity">00</div>
                  <img src="/images/Plus.png" class="MenuComponents Plus" />
                  <div class="MenuComponents Add">Add+</div>
                </div>
              </div>
            </div>
          </div>
          <div class="RestrauntListEntry">
            <h1 class="RestrauntName">Restraunt 3</h1>
            <hr
              style="
                width: 80%;
                margin-left: auto;
                border-color: #fe3f23;
                border-style: solid;
              "
            />
            <div class="RestrauntListEntries">
              <div class="RestrauntItem">
                <div class="RestrauntItemHeading">Item 1</div>
                <div class="RestrauntItemImage"></div>
                <div class="RestrauntItemMenu">
                  <div class="MenuComponents Price">30/-</div>
                  <div class="MenuComponents Time">3:00</div>
                  <img src="/images/Minus.png" class="MenuComponents Minus" />
                  <div class="MenuComponents Quantity">00</div>
                  <img src="/images/Plus.png" class="MenuComponents Plus" />
                  <div class="MenuComponents Add">Add+</div>
                </div>
              </div>
              <div class="RestrauntItem">
                <div class="RestrauntItemHeading">Item 2</div>
                <div class="RestrauntItemImage"></div>
                <div class="RestrauntItemMenu">
                  <div class="MenuComponents Price">30/-</div>
                  <div class="MenuComponents Time">3:00</div>
                  <img src="/images/Minus.png" class="MenuComponents Minus" />
                  <div class="MenuComponents Quantity">00</div>
                  <img src="/images/Plus.png" class="MenuComponents Plus" />
                  <div class="MenuComponents Add">Add+</div>
                </div>
              </div>
              <div class="RestrauntItem">
                <div class="RestrauntItemHeading">Item 3</div>
                <div class="RestrauntItemImage"></div>
                <div class="RestrauntItemMenu">
                  <div class="MenuComponents Price">30/-</div>
                  <div class="MenuComponents Time">3:00</div>
                  <img src="/images/Minus.png" class="MenuComponents Minus" />
                  <div class="MenuComponents Quantity">00</div>
                  <img src="/images/Plus.png" class="MenuComponents Plus" />
                  <div class="MenuComponents Add">Add+</div>
                </div>
              </div>
              <div class="RestrauntItem">
                <div class="RestrauntItemHeading">Item 4</div>
                <div class="RestrauntItemImage"></div>
                <div class="RestrauntItemMenu">
                  <div class="MenuComponents Price">30/-</div>
                  <div class="MenuComponents Time">3:00</div>
                  <img src="/images/Minus.png" class="MenuComponents Minus" />
                  <div class="MenuComponents Quantity">00</div>
                  <img src="/images/Plus.png" class="MenuComponents Plus" />
                  <div class="MenuComponents Add">Add+</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="shoppingList">
          <h1 class="shoppingListTitle">Items</h1>
          <hr />
          <br />
          <div>

            <div class="shoppingListTableHeadingDiv">
              <div class="HeadingA">Names</div>
              <div class="HeadingB">No.</div>
              <div class="HeadingC">Amount</div>
            </div>
            <div class="shoppingListTableMainDiv">
              <div class="shoppingListTableDiv">
                <div class="ItemA">1</div>
                <div class="ItemB">ABCDE</div>
                <div class="ItemC">10</div>
                <div class="ItemD">100/-</div>
              </div>
              <div class="shoppingListTableDiv">
                <div class="ItemA">1</div>
                <div class="ItemB">ABCDE</div>
                <div class="ItemC">10</div>
                <div class="ItemD">100/-</div>
              </div>
              <div class="shoppingListTableDiv">
                <div class="ItemA">1</div>
                <div class="ItemB">ABCDE</div>
                <div class="ItemC">10</div>
                <div class="ItemD">100/-</div>
              </div>
              <div class="shoppingListTableDiv">
                <div class="ItemA">1</div>
                <div class="ItemB">ABCDE</div>
                <div class="ItemC">10</div>
                <div class="ItemD">100/-</div>
              </div>
              <div class="shoppingListTableDiv">
                <div class="ItemA">1</div>
                <div class="ItemB">ABCDE</div>
                <div class="ItemC">10</div>
                <div class="ItemD">100/-</div>
              </div>
              <div class="shoppingListTableDiv">
                <div class="ItemA">1</div>
                <div class="ItemB">ABCDE</div>
                <div class="ItemC">10</div>
                <div class="ItemD">100/-</div>
              </div>
              <div class="shoppingListTableDiv">
                <div class="ItemA">1</div>
                <div class="ItemB">ABCDE</div>
                <div class="ItemC">10</div>
                <div class="ItemD">100/-</div>
              </div>
              <div class="shoppingListTableDiv">
                <div class="ItemA">1</div>
                <div class="ItemB">ABCDE</div>
                <div class="ItemC">10</div>
                <div class="ItemD">100/-</div>
              </div>
              <div class="shoppingListTableDiv">
                <div class="ItemA">1</div>
                <div class="ItemB">ABCDE</div>
                <div class="ItemC">10</div>
                <div class="ItemD">100/-</div>
              </div>
              <div class="shoppingListTableDiv">
                <div class="ItemA">1</div>
                <div class="ItemB">ABCDE</div>
                <div class="ItemC">10</div>
                <div class="ItemD">100/-</div>
              </div>
              <div class="shoppingListTableDiv">
                <div class="ItemA">1</div>
                <div class="ItemB">ABCDE</div>
                <div class="ItemC">10</div>
                <div class="ItemD">100/-</div>
              </div>
              <div class="shoppingListTableDiv">
                <div class="ItemA">1</div>
                <div class="ItemB">ABCDE</div>
                <div class="ItemC">10</div>
                <div class="ItemD">100/-</div>
              </div>
              <div class="shoppingListTableDiv">
                <div class="ItemA">1</div>
                <div class="ItemB">ABCDE</div>
                <div class="ItemC">10</div>
                <div class="ItemD">100/-</div>
              </div>
              <div class="shoppingListTableDiv">
                <div class="ItemA">1</div>
                <div class="ItemB">ABCDE</div>
                <div class="ItemC">10</div>
                <div class="ItemD">100/-</div>
              </div>
            </div>

            <br />
            <div class="shoppingListTotal">
              <div class="ShoppingListTotalTitle">Total</div>
              <div class="ShoppingListTotalAmount">10/-</div>
            </div>

            <button class="ItemSubmitButton">Order</button><br />
            <button class="ItemSubmitButton">Status</button>
          </div>
        </div>
      </div>
    </div>

    <div id="footer">
      <p id="first-para"><span id="span-one">Website Name</span></p>
      <p id="second-para">About</p>
      <hr id="second-break" />
      <p id="third-para">
        <span>Copyright &copy; website name. All rights reserved</span>
      </p>
    </div>
  </body>
</html>