#bgi{background:url(/images/signup/su_bg.png), linear-gradient(82.25deg, #FF2103 7.71%, #FF9900 47.48%, #FF3D00 123.73%);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100vw;
    height: 100vh;

}
body { 
    left: 0px;
    top: 0px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;

}
h1{
    position: relative;
    padding-left: 3vw;
    padding-top: 1vh;
    margin-top: 0vh;
    margin-right: 0vw;
    color: #FFFFFF;
    font-family: 'Acme';
    font-style: normal;
    font-weight: normal;
    font-size: 61px;
}
.cmi{
    margin-left: 22vw; 
    margin-top: -2vh;
    margin-right: 0vh;
    margin-bottom: -7vh; 
    height: 5vh;
    width: 5vh;
}
hr{
    width: 10vw;
    color: #FF7B31;
    height: 0vh;
    background-color: #FF7B31;
    border: 0.5px solid #FF7B31;
}
label{
    color:rgba(255, 33, 3, 0.69); 
    margin-top: 10vh;
    margin-bottom: 1vh;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
}

.box{
    width: 24vw;
    padding: 20px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 231, 218, 0.94);
    text-align: center;
    border: 2px solid red;
    
}

.input{
    width: 70%;
    height: 4vh;
    margin-bottom: 10px;
    padding-left: 10px;
}

#btn {
    background:#FF7B31;
    width: 100px;
    height: 40px;
    border: 0;
    display: block;
    margin: 12px auto;
    font-family: Calibri;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    padding: 0px,5px;
    color: white;
    transition: 0.25s;
    cursor: pointer;
}
#btn:hover{
    background: rgba(231, 30, 3, 0.69);
}

a{
    text-decoration: none;
}

b{
    font-family: Calibri;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: rgba(87, 87, 87, 0.83);
}