body {
  overflow-x: hidden;
}

#main {
  height: 120vh;
  background-size: 100% 140vh;
}

#heading {
  width: 30vw;
  height: 10vh;
  position: relative;
  top: 3.2vh;
  left: 3vw;
}

#span-p2-one {
  display: inline-block;
  width: 25vw;
  height: 8vh;
  font-family: sans-serif;
  font-size: 1.4vw;
  color: red;
}

#item_name {
  text-align: center;
  color: red;
  font-family: "Lalezar";
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
}

.separation_line {
  color: red;
  border: 0.1vh solid red;
  width: 90vw;
  position: relative;
  left: 5vw;
}

.container {
  width: 78vw;
  height: 85vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.containerC1 {
  width: 25vw;
  height: 30vh;
  display: flex;
}

#foodItemImage {
  width: 25vw;
  object-fit: contain;
}

.containerC2 {
  width: 45vw;
  height: 30vh;
  border-top: 0.3vh solid red;
  border-bottom: 0.3vh solid red;
  border-left: 0.2vw solid red;
  border-right: 0.2vw solid red;
}

.containerC3 {
  width: 25vw;
  height: 50vh;
  display: flex;
}
.containerC4 {
  width: 45vw;
  height: 50vh;
  border-top: 0.3vh solid red;
  border-bottom: 0.3vh solid red;
  border-left: 0.2vw solid red;
  border-right: 0.2vw solid red;
}
#foodItemReview {
  text-align: center;
  color: red;
  font-family: "Courier New", Courier, monospace;
}

#reviewSeparationLine {
  width: 15vw;
  height: 0vh;
  border: 0.5px solid #e74f34;
  position: relative;
  left: 15vw;
}

#allReviews {
  overflow-y: scroll;
  width: 40vw;
  height: 20vh;
  margin: 2vh auto;
}

#allReviews::-webkit-scrollbar {
  width: 1vh;
}

#allReviews::-webkit-scrollbar-track {
  background-color: #f58e65;
  border-radius: 1vh;
}

#allReviews::-webkit-scrollbar-thumb {
  background-color: rgb(255, 60, 0);
  border-radius: 1vh;
}

#customerReview {
  width: 37vw;
  height: 8vh;
  margin: 0 auto;
  margin-top: 1vh;
  border-top: 0.3vh solid red;
  border-bottom: 0.3vh solid red;
  border-left: 0.2vw solid red;
  border-right: 0.2vw solid red;
}

#customerName {
  margin-left: 0.8vw;
  font-family: sans-serif;
  color: lightcoral;
}

#reviewGivenByCustomer {
  color: red;
}

.foodDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: rgb(248, 149, 95, 0.6);
}

.foodDetailBox {
  width: 20vw;
  margin-left: 10px;
  height: 5vh;
  font-size: 4vh;
  font-weight: bold;
  color: red;
}

.foodIngredients {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.foodIngredientsBox {
  height: 20vh;
  width: 42vw;
}

#ingredients {
  margin-left: 3vw;
  color: lightcoral;
  text-decoration: underline;
}

.foodIngredientsStyle {
  color: red;
}

#method {
  margin-left: 3vw;
  color: lightcoral;
  text-decoration: underline;
}
#btn {
  background: rgba(11, 216, 11, 0.692);
  width: 100px;
  height: 40px;
  border: 0;
  display: block;
  margin: 12px auto;
  margin-top: -10px;
  font-family: Calibri;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  padding: 0px, 5px;
  color: white;
  transition: 0.25s;
  cursor: pointer;
}
#btn:hover {
  background: #eb0c0cc7;
}
