@media screen and (min-width: 300px) and (max-width: 500px) {
  #bgi {
    background: url("/images/lg_bg.png"),
      linear-gradient(82.25deg, #ff2103 7.71%, #ff9900 47.48%, #ff3d00 123.73%);
    border: 1px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100vw;
    height: 100vh;
  }
  .box {
    width: 65vw;
    height: 59vh;
  }
  h1 {
    font-size: 40px;
    text-align: center;
    padding-left: 0vh;
    padding-top: 5vh;
  }
  hr {
    width: 35vw;
  }
  .cmi {
    margin-top: -2vh;
    margin-left: 61vw;
    margin-right: 0vh;
  }
  .box input[type="email"] {
    width: 50vw;
    height: 4vh;
  }
  .box input[type="password"] {
    width: 50vw;
    height: 4vh;
  }
  .box input[type="email"]:focus {
    width: 57vw;
    border-color: red;
  }
  .box input[type="password"]:focus {
    width: 57vw;
    border-color: red;
  }
}
@media screen and (min-width: 501px) and (max-width: 1000px) {
  .box {
    width: 35vw;
    height: 60vh;
  }
  .box input[type="email"] {
    width: 25vw;
    height: 4vh;
  }
  .box input[type="password"] {
    width: 25vw;
    height: 4vh;
  }
  .box input[type="email"]:focus {
    width: 30vw;
    border-color: red;
  }
  .box input[type="password"]:focus {
    width: 30vw;
    border-color: red;
  }
  h1 {
    font-size: 50px;
  }
  hr {
    width: 15vw;
  }
  .cmi {
    margin-top: -2vh;
    margin-left: 32vw;
    margin-right: 0vw;
  }
}
